Package: cc.tweak.libobjcipc
Name: libobjcipc
Depends: firmware (>= 7.0), mobilesubstrate
Version: 1.0.2
Architecture: iphoneos-arm
Description: Allow interprocess communication between SpringBoard and Apps
Maintainer: Alan Yip
Author: Alan Yip
Section: Tweaks
Tag: purpose::extension, role::developer
